@import url('https://fonts.googleapis.com/css?family=Roboto');

.itemContainer {
    border: 1px;
    background-color: #DD99BB;
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 15px;
    box-shadow: 6px 6px #7b506f;
    margin-left: auto;
    margin-right: auto;
}

.itemName {
    text-align: center;
    font-size: 3em;
}

.itemFullName {
    text-align: center;
}

.itemPrice {
    text-align: center;
    font-size: 2em;
}
.itemConc {
    text-align: center;
}

.itemContainer p {
    margin-bottom: 1px;
    margin-top: 10px;
    font-family: 'Roboto';
    text-align: center;
}

@media (orientation: landscape) {

    .itemContainer {
        /*padding-left: 80%;
        padding-right: 80%;*/
    }
}

@media (orientation: portrait) {

    .itemName {
        font-size: 2em;
    }
    .itemContainer {
        margin-left: 5%;
        margin-right: 5%;
    }
}