@media (orientation: landscape) {
    .layout {
        background-color: #1F1A38;
        padding-top: 2%;
    }

    .content {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    
    .copyright {
        text-align: center;
        color: #DBCDC6;
    }
    
    .title {
        text-align: center;
        color: #EAD7D1;
    }

  }
  
  
@media (orientation: portrait) {
    .title {
        text-align: center;
        color: #EAD7D1;
    }

    .copyright {
        text-align: center;
        color: #DBCDC6;
    }
}