@media (orientation: landscape) {
    .spinningEstrogen {
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .layout {
        background-color: #1F1A38;
        padding-top: 2%;
    }

    .content {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    
    .copyright {
        text-align: center;
        color: #DBCDC6;
    }
    
    .title {
        text-align: center;
        color: #EAD7D1;
    }

  }
  
  
@media (orientation: portrait) {
    .title {
        text-align: center;
        color: #EAD7D1;
    }
    
    .spinningEstrogen {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 28%;
        height: 10%;
    }

    .copyright {
        text-align: center;
        color: #DBCDC6;
    }
}